importFrom("stats",
           ## S3 Generics for which we define methods:
           add1, drop1, extractAIC, fitted, predict, residuals)
importFrom("graphics", plot)

importFrom("MASS", rlm, polr)
importFrom("nnet", multinom, nnet.default) ## , VR_summ2, multinomHess (not exported!)
importFrom("survival", coxph, survreg, Surv)

importFrom("robustbase", lmrob)

importFrom("quantreg", rq)

### This exports everything but  ".foobar" :
## exportPattern("^[^\\.]")

## Ok, now we are better and do not export all
export(asinp,
       BR, DB, IR,
       UserOptions,
       add1.regr, ## add1.default, add1.mlm, ## see below
       c.mon, c.months,
       colorpale, compareTerms, contr.wsum, condquant, c.weekdays,
       doc, "doc<-",
       drop1.regr, ## drop1.default, drop1.mlm, drop1.multinom,
       drop1Wald,
       dropdata, ## extractAIC.regr,
       dummy.coef.regr,
       fitcomp,
       fitted.regr, fitted.polr,
       format.modelTable,
       getmeth,
       ## i.add1na, i.main, i.mlmsum, i.plotlws, i.termtable,
       ## if we export these, can use quote(regr0::i.<foo>) and no check--warning
       i.glm, i.lm, i.multinomial, i.polr, i.smooth, i.survreg,
       i.polrfit, i.multinomfit, 
       is.formula,
       last, legendr, leverage, linear.predictors, linpred, logst, mframe,
       modelTable,
       ## nafalse,
       nainf.exclude, "%nin%",
       notna,
       plcoord, plfitpairs, plmatrix,
       plot.regr, plot.xdistResscale,
       plres2x, plresx, plTA.polr, 
       predict.mlm, predict.polr, predict.regr,
       print.modelTable, print.mregr,
       print.regr,
       drevgumbel, prevgumbel, qrevgumbel, rrevgumbel, ## qrevgumbelexp,
       regr,
       residuals.coxph, residuals.polr, residuals.survreg,
       ## RNAMES,
       robrange, showd, simresiduals, stamp,
       step, step.default, step.regr,
       subset,
       summary.mregr, summary.regr,
       sumna, terms2order,
       tit, "tit<-",
       Tobit,
       ##u.merge,
       userOptions,
       getUserOption, UserDefault, UserOptions, ## <- ??
       ## u.true,
       ## vif.regr,
       warn, xdistResdiff,
       xdistResscale,
       plmbox, plmboxes, quinterpol
       )

S3method(add1, default)
S3method(add1, mlm)
S3method(add1, regr)

S3method(drop1, default)
S3method(drop1, mlm)
S3method(drop1, multinom)
S3method(drop1, regr)

S3method(summary, regr)# trivial: returns it unchanged

S3method("[", modelTable)

