importFrom("stats",
           ## S3 Generics for which we define methods:
           add1, drop1, extractAIC, fitted, predict, residuals,
           .checkMFClasses, .getXlevels, IQR,
           add.scope, aggregate, anova, as.dist, as.formula,
           binomial, coef, coefficients, confint, contr.sum,
           dcauchy, delete.response, deviance, df.residual,
           dist, dlogis, dnorm, drop.scope, factor.scope,
           formula, glm.fit, hat, lm, lm.fit, loess, mad,
           mahalanobis, median, model.frame, model.matrix,
           model.offset, model.response, model.weights,
           na.exclude, na.omit, na.pass, napredict, naresid,
           nobs, optim, pcauchy, pchisq, pf, plogis,
           pnorm, ppoints, pt, pweibull, qchisq, qf,
           qlogis, qnorm, qqnorm, qt, quantile, rbinom,
           resid, rnorm, rpois, runif, sd, setNames,
           symnum, terms, update, update.formula, var,
           vcov)
importFrom("utils", getS3method, recover)
importFrom("graphics", plot, abline, axis, box, frame, legend,
           lines, matlines, mtext, par, points, polygon,
           segments, sunflowerplot, symbols, text)
importFrom("grDevices", col2rgb, dev.list, grey, palette,
           rgb)

importFrom("MASS", rlm, polr)
importFrom("nnet", multinom, nnet.default) ## , VR_summ2, multinomHess (not exported!)
importFrom("survival", "coxph", "survreg", "Surv", "strata", "cluster")

importFrom("robustbase", lmrob)

importFrom("quantreg", rq)


### This exports everything but  ".foobar" :
## exportPattern("^[^\\.]")

## Ok, now we are better and do not export all
export(asinp,
       BR, DB, IR,
       UserOptions,
       add1.regr, ## add1.default, add1.mlm, ## see below
       allcoef,
       c.mon, c.months,
##       ciSignif,
       colorpale, compareTerms, contr.wsum, condquant, c.weekdays,
       doc, "doc<-",
       drop1.regr, ## drop1.default, drop1.mlm, drop1.multinom,
       drop1Wald,
       dropdata, ## extractAIC.regr,
       factorNA, fitcomp,
       fitted.regr, fitted.polr,
       format.modelTable,
       getmeth,
       ## i.add1na, i.main, i.mlmsum, i.plotlws, i.termtable,
       ## if we export these, can use quote(regr0::i.<foo>) and no check--warning
       i.glm, i.lm, i.multinomial, i.polr, i.survreg,
       i.polrfit, i.multinomfit,
       ## i.findformfac,
       is.formula,
       last, legendr, leverage, linear.predictors, linpred, logst, mframe,
       modarg, modelTable,
       ## nafalse,
       nainf.exclude, "%nin%",
       notna,
       panelDefault, plcoord, plfitpairs, plmatrix,
       plot.regr, plot.xdistResscale,
       plmbox, plmboxes,
       plres2x, plresx, plTA.polr,
       predict.mlm, predict.polr, predict.regr,
       print.allcoef, print.modelTable, print.mregr, print.regr,
       drevgumbel, prevgumbel, qrevgumbel, rrevgumbel, ## qrevgumbelexp,
       quantilew, quinterpol,
       regr,
       residuals.regr, residuals.polr, residuals.regrcoxph, residuals.regrsurv,
       ## RNAMES,
       robrange, showd, simresiduals,
       smoothM, smoothMM, smoothRegr, stamp,
       step, step.default, step.regr,
       subset,
       summary.mregr, summary.regr,
       sumna, terms2order,
       Surv, strata, cluster,
       tit, "tit<-",
       Tobit,
       ##u.merge,
       userOptions,
       getUserOption, UserDefault, UserOptions, ## <- ??
       ## u.true,
       ## vif.regr,
       warn,
       xdistResdiff, xdistResscale, xNA
       )

S3method(add1, default)
S3method(add1, mlm)
S3method(add1, regr)

S3method(drop1, default)
S3method(drop1, mlm)
S3method(drop1, multinom)
S3method(drop1, regr)

S3method(summary, regr)# trivial: returns it unchanged
S3method(plot, regr)
S3method(print, regr)

S3method("[", modelTable)

