
importFrom("stats",
           setNames, uniroot, sd, symnum, plogis, qlogis, 
           binom.test, fisher.test,
           drop.scope, na.omit,
           pt, pf, pchisq, qnorm, qt, qf, qchisq, 
           df.residual, terms, formula, update.formula, delete.response,
           coefficients,
           model.matrix, model.frame, model.offset, drop1, vcov
           )
importFrom("utils",
           str, recover
           )
importFrom("graphics",
           box, par, plot, abline, segments, axis, mtext
           )

##- importFrom("MASS", rlm, polr)
##- importFrom("nnet", multinom, nnet.default) ## , VR_summ2, multinomHess (not exported!)
##- importFrom("survival", coxph, survreg, Surv, strata, cluster)
##-
##- importFrom("robustbase", lmrob)
##-
##- importFrom("quantreg", rq)

export(confintF, drop1Wald,
       getcoeftable, getcoeffactor, getscalepar, 
       inference, onesample, plconfint, pltwosamples,
       p.symbols, rlv.symbols,
       relevance.options, relevance.modelclasses, 
       termeffects, termtable, twosamples, plot.inference, 
       DB
       )

S3method(twosamples, formula)
S3method(twosamples, default)
S3method(twosamples, table)
S3method(pltwosamples, formula)
S3method(pltwosamples, default)
S3method(print, inference)
S3method(print, printInference)
S3method(plot, inference)
S3method(print, termtable)
S3method(plot, termtable, plot.inference)
S3method(print, termeffects)
S3method("[", termeffects)
S3method(plot, termeffects)
