
importFrom("stats",
           setNames, uniroot, sd, symnum, plogis, qlogis, 
           binom.test, fisher.test, 
           pt, pf, pchisq, qnorm, qt, qf, qchisq, 
           df.residual, terms, formula, update.formula, delete.response,
           coefficients,
           model.matrix, model.frame, model.offset, drop1, vcov
           )
importFrom("utils",
           str, recover
           )
##- importFrom("MASS", rlm, polr)
##- importFrom("nnet", multinom, nnet.default) ## , VR_summ2, multinomHess (not exported!)
##- importFrom("survival", coxph, survreg, Surv, strata, cluster)
##-
##- importFrom("robustbase", lmrob)
##-
##- importFrom("quantreg", rq)

export(ciSgRl, confintF, drop1Wald,
       getcoeftable, getcoeffactor, getscalepar, 
       pSymbols, rlvSymbols,
       rlv.optionsDefault, 
       termeffects, termtable,
       twosamples,
       DB
       )

S3method(twosamples, formula)
S3method(twosamples, default)
S3method(print, termtable)
S3method(print, termeffects)
S3method(print, inference)
